.bottombarcontrols {
  height: 100px;
  width: 100%;
  position: absolute;
  background: red;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customBoxes {
  border: 1px solid grey;
}
.single-div:hover {
  background: pink;
}

.single-div:hover::after {
  content: attr(data);
  background: #000;
  border-radius: 5px;
  width: 100px;
  bottom: 100%;
  position: absolute;
  z-index: 100;
  padding: 2px 5px;
  color: #fff;
  left: -200%;
  text-align: center;
}
.single-div {
  height: 20px;
  position: relative;
  width: 20px;
  background: grey;
  border-radius: 2px;
  transition-duration: 0.2s;
  cursor: pointer;
  margin: 1px;
}

.input-boxes {
  overflow: hidden;
}

.justifyControl {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}
.centercolumn {
  flex-direction: column;
}

.bottombarcontrols p {
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
  margin: 0;
  font-size: 0.7rem;
}
.padding-control input {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  font-size: 0.9rem;
}
.bottombarcontrols input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;

  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.wrapButtons {
  font-size: 0.8rem;
  font-weight: bold;
  color: #fff;
  width: auto !important;
  padding: 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapButtonsParent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
