.bottombarcontrols {
  height: 100px;
  width: 100%;
  position: absolute;
  background: red;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-div:hover {
  background: pink;
}

.single-div:hover::after {
  content: attr(data);
  background: #000;
  border-radius: 5px;
  width: 100px;
  bottom: 100%;
  position: absolute;
  z-index: 100;
  padding: 2px 5px;
  color: #fff;
  left: -50%;
}
.single-div {
  height: 20px;
  position: relative;
  width: 20px;
  background: grey;
  border-radius: 2px;
  transition-duration: 0.2s;
  cursor: pointer;
  margin: 1px;
}

.justifyControl {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}
.centercolumn {
  flex-direction: column;
}

.bottombarcontrols p {
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
  margin: 0;
  font-size: 0.7rem;
}
