.flex {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}
.al-left {
  text-align: left;
}
.wid-50 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wid-30 {
  width: 30%;
}
.flex-rec:hover {
  background: #fff;
}
.flex-rec:active {
  background: red;
}
.flex-rec {
  transition-duration: 0.2s;
  height: 40px;
  width: 40px;
  background: grey;
  overflow: hidden;
  cursor: pointer;
}
.box-shadow {
  box-shadow: 0 0 5px #fff, 0 0 10px #fff;
}
.mar-5 {
  margin: 2px;
}

.borr-5 {
  border-radius: 5px;
}
.wid-100 {
  width: 100%;
}

.wid-100-center {
  display: flex;
  width: 100%;
  justify-content: center;
}
.flex-col {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.colorpicker img {
  height: 20px;
  width: 20px;
}
.wid-50 input::placeholder {
  color: palegreen;
}
.wid-50 input,
.wid-50 select,
.custom-input {
  background: #646464;
  border: 1px solid ab;
  /* border-bottom: 2px solid #98fb98; */
  border-radius: 0;
  color: #98fb98;
  font-size: 1.2rem;
  height: 100%;
  width: 80%;
  outline: none;
  max-height: 45px;
}
.wid-30 select {
  border: none;
  background: transparent;
  color: palegreen;
  border-bottom: 2px solid palegreen;
  border-radius: 0px;
  outline: none;
  width: 95%;
  font-size: 1.2rem;
}
hr {
  width: 90%;
  background: palegreen;
  border: none;
  height: 1px;
}

.colorpicker input {
  border-bottom: none;
  height: 40px;
}

.data-contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
}

.data-contents p {
  margin: 0;
  text-transform: uppercase;
  padding: 0;
  font-family: sans-serif;
  color: #fff;
  margin: 2px;
  font-weight: bold;
  color: #d4e7fe;
  font-size: 0.7rem;
}

.data-contents p {
  text-align: left;
  font-size: 0.8rem;
}
.wid-100-around {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.wid-100-around h2 {
  margin: 0;
  margin-top: 5px;
  padding: 3px;
  box-shadow: 0 0 5px #fff;
  width: 25%;
  color: rebeccapurple;
  cursor: pointer;
}

input::placeholder {
  color: palegreen;
}
.image-content {
  width: 100%;
}
.image-content input:nth-child(1) {
  background-color: transparent;
  border: 1px solid ab;
  outline: none;
  font-size: 1.2rem;
  width: 80%;
}

.text-section textarea::placeholder {
  color: palegreen;
}
.text-section textarea {
  color: palegreen;
  height: 40px;
  width: 100%;
  font-size: 1.2rem;
  background-color: transparent;
  color: palegreen;
  border: 1px solid palegreen;
}

.paddingmargin {
  transition-duration: 0.2s;
  height: 40px;
  width: 45px;
  overflow: hidden;
  background: grey;
  cursor: pointer;
  display: flex;
  font-size: 1.2rem;
  align-items: flex-end;
}

.text-edit-cont {
  margin-top: 100px;
}
.neo-cont {
  padding: 10px;
  box-sizing: border-box;
  border-radius: 15px;
  background: #646464;
  box-shadow: 8px 10px 17px #282828, -4px -3px 26px #a0a0a0;
  margin-top: 20px;
  width: 100%;
}
.upload-image::after {
  content: "Upload";
  font-family: sans-serif;
  font-weight: bold;
  color: grey;
  position: absolute;
  z-index: -1;
  border-radius: 10px;
}
.upload-image {
  height: 40px;
  width: 25%;
  background: #ffb0b6;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}

.upload-image input {
  opacity: 0;
  height: 150%;
  width: 150%;
}

.borR {
  border-right: 1px solid grey;
}
